html {
    font-size: 16px;
    line-height: 1;
}

// font-family: 'Roboto', sans-serif;
// font-family: 'Work Sans', sans-serif;

body {
    margin: 0;
    -webkit-font-smoothing: antialized;
    font-family: 'Roboto', sans-serif;
    color: #013A4C;
    background-color: #E5E5E5;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

// Burger-menu
.bg__red {
    background: #FFD063;
}

// .menu__btn {
//     display: none;
//     margin: 0 auto;
//     width: 40px;
// 	height: 30px;
// 	position: relative;
// 	z-index:60;
// 	overflow: hidden;
//     cursor: pointer;
//     border: 1px solid #013A4C;
//     border-radius: 5px;
//     span {
//         width: 30px;
//         height: 2px;
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         background-color: #013A4C;
//         transition: all 0.5s;
//         &:nth-of-type(2) {
//             top: calc(50% - 6px);
//         }
//         &:nth-of-type(3) {
//             top: calc(50% + 6px);
//         }
//     }
// }
.menu__btn {
    display: none;
    margin: 0 auto;
    width: 40px;
	height: 30px;
	position: relative;
	z-index:60;
	overflow: hidden;
    cursor: pointer;
    border: 1px solid #013A4C;
    border-radius: 5px;
    span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #013A4C;
        &::before {
            content: "";
            width: 30px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #013A4C;
            top: calc(50% - 6px);
        }
        &::after {
            content: "";
            width: 30px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #013A4C;
            top: calc(50% + 6px);
        }
    }
}

.navigation.burger__show {
    display: block;
    width: 100%;
    padding: 5px 50px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    z-index: 50;
    transform: translateX(-50%);
    background-color: #fff;
}

// ************* HEADER ******************
//****************************************
.header {
    position: fixed;
    z-index: 10;
    width: 100%;
}

.header__container {  
    padding: 18px 28px 19px 48px;
    background-color: #fff;
}

.header__nav {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        li {
            margin: 0 16px;
            a {
                text-decoration: none;
                font-family: 'Work Sans', sans-serif;
                line-height: 1.25rem;
                color: #013A4C;            
                &:hover {
                    text-decoration: underline;
                }
            }
            &:first-child {
                margin-right: 30px;
            }
            &:nth-child(2) {
                margin-right: 46px;
            }
        }
    }
}


.header__buttons {
    text-align: right;
}

.btn__header {
    padding: 11px 17px;
    margin-right: 8px;
    font-family: 'Work Sans', sans-serif;    
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #013A4C;
    background-color: #FFD063;    
    border: 1px solid #FFD063;
    border-radius: 4px;
    transition: all 0.1s linear;
    &:hover{
        background-color: #f1bc3e;
        border-color: #f1bc3e;
    }
}
.btn__white {
    background-color: inherit;
    border: 1px solid #346170;
    &:hover{
        background-color: #e4e4e4;
        border-color: #346170;
    }
}

.btn__language {
    margin-left: 40px;
    &--footer {
        margin-left: 0;
    }
}


// ************** INTRO ******************
//****************************************
.intro {
    &__container {
        height: 100vh;
        padding-top: 80px;
        background: url(../img/intro_background.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__inner {
        margin-top: 210px;
    }
    &__content {
        padding-left: 144px;
    }
    &__header {
        margin-bottom: 30px;
        font-size: 4.75rem;   
        line-height: 1;
    }
    &__text {
        padding-right: 80px;
        margin-bottom: 25px;
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

.btn__avg {
    padding: 14px 20px;
    margin-right: 16px;
    font-family: 'Work Sans', sans-serif;    
    line-height: 1.25rem;
    color: #013A4C;
    background-color: #FFD063;    
    border: 1px solid #FFD063;
    border-radius: 4px;
    transition: all 0.1s linear;    
    &:hover{
        background-color: #f1bc3e;
        border-color: #f1bc3e;
    }
    &--dark {
        color: #fff;
        background-color: #013A4C;
        border-color:#013A4C;
        &:hover {
            background-color: #015169;
            border-color:#015169;
        }
    }
    &--yellow {
        background-color: #FFD063;
        border-color:#FFD063;
        &:hover {
            background-color: #f1ba39;
            border-color:#f1ba39;
        }
    }
}

// ************* COMPANIES ***************
//****************************************
.companies__container {    
    padding: 80px 144px 128px;
    background-color: #013A4C;
    color: #fff;
}

.companies__top--header {
    margin-bottom: 24px;
    text-align: center;    
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.companies__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.companies__logotype {
    margin: 0 16px 10px 16px;
}

.signatures__block {
    margin: 80px 0 128px;
}

.signatures__img {
    max-width: 100%;
    width: 100%;
}

.signatures__title {
    width: 70%;
    margin-bottom: 38px;
    font-size: 4.5rem;
    line-height: 1;
    color: #F2DCE4;
}

.signatures__text {
    width: 90%;
    margin-bottom: 20px;
    font-family: 'Work Sans', sans-serif;  
    font-size: 1.3rem;
    line-height: 1.75rem;    
}

.collaborate__block {
    background-color: #D3E8F4;
    border-radius: 8px;
}

.collaborate__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #94B4C2;
    &--name {
        width: 15%;
        text-align: center;
    }
}

.collaborate__btn {
    display: block;
    padding: 30px 0;
    text-decoration: none;
    &--text {
        font-size: 1.06rem;
        line-height: 1.5rem;
        color: #013A4C;
        margin-top: 7px;
    }
}

.collaborate__content {    
    position: relative;
    overflow: hidden;
    z-index: 0;
    &--inner {
        padding: 48px 96px 80px 96px;
        max-width: 768px;
        color: #013A4C;
    }
}

.collaborate__img {
    max-width: 100%;
    position: absolute;
    right: 0;
    bottom: 20px;
    z-index: -1;
}

.collaborate__title {
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 5rem;
    letter-spacing: 0.7px;
}

.collaborate__text {
    margin: 11px 0 55px;
    font-family: Work Sans;
    font-size: 1.3rem;
    line-height: 1.75rem;
}

.collaborate__ok {
    list-style: none;
    padding: 0;
    margin-bottom: 44px;
    &--item {
        margin-bottom: 8px;
        font-family: Work Sans;
        font-size: 0.875rem;
        line-height: 1.25rem;
        img {
            margin-right: 8px;
        }
    }
}

// *************** VIDEO *****************
//****************************************

.video__container {
    height: 814px;
    background-image: url(../img/video__bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video__button {
    position: relative;
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    background-color: #013A4C;
    box-shadow: 0 0 10px orangered;
    text-align: center;
    img {
        width: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
    }
    &:hover {
        box-shadow: none;
    }
}


// ************* PLATFORM ****************
//****************************************
.platform {
    &__container {
        padding-bottom: 490px;
        background: url(../img/platform/platform_bg.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__title {
        max-width: 730px;
        margin: 0 auto;
        padding: 120px 0 150px;
        font-size: 5rem;
        line-height: 5rem;
        text-align: center;
        letter-spacing: 0.7px;
    }
    &__item {
        padding-left: 55%;
        padding-right: 144px;
        padding-bottom: 120px;
        &--left {
            padding-left: 144px;
            padding-right: 55%;
        }
    }
}
.item__title {
    margin: 15px 0 34px;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.375rem;
    letter-spacing: 0.4px;
}

.item__text {
    margin-bottom: 17px;
    font-family: 'Work Sans';
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.btn__platform {
    margin: 0;
    padding: 10px 17px;
    font-size: 0.875rem;
    line-height: 1.125rem;
}


// *************** DEMO ******************
//****************************************

.demo {
    &__container {
        padding: 300px 0 300px 144px;
        background: url(../img/demo_bg.jpg) #013A4C;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__title {
        font-weight: bold;
        font-size: 4.5rem;
        line-height: 5rem;
        letter-spacing: 2px;
        color: #F2DCE4;
    }
    &__text {
        max-width: 470px;
        margin: 30px 0 25px;
        font-family: 'Work Sans';
        font-size: 1.6rem;
        line-height: 2rem;
        letter-spacing: 0.5px;
        color: #FFFFFF;
    }
}

.btn__demo {
    margin: 0;
    padding: 10px 17px;
    font-size: 0.875rem;
    line-height: 1.125rem;
}

// *************** WHITE *****************
//****************************************

.white {
    &__container {
        padding: 130px 144px;
        background-color: #fff;
    }    
}

.socials {
    &__title {
        margin-bottom: 55px;
        font-size: 3rem;
        line-height: 3.375rem;
        letter-spacing: 0.4px;
    }
    &__block {
        margin-bottom: 315px;
        display: flex;
        justify-content: space-between;    
    }
    &__item {
        position: relative;
        min-height: 444px;
        width: 32%;
        padding: 60px 30px;
        border: 1px solid rgb(197, 197, 197);
        border-radius: 5px;
        &--text {
            margin-bottom: 18px;
            font-family: Work Sans;
            font-size: 1.125rem;
            line-height: 1.5rem;
        }
        &--link {
            font-family: Work Sans;
            font-size: 0.875rem;
            line-height: 1.125rem;
            color: #89285B;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        &--author {
            position: absolute;
            left: 30px;
            bottom: 60px;
            z-index: 1;
            display: flex;
            align-items: center;
            img {
                height: 100%;
                margin-right: 16px;
            }
            div {
                display: flex;
                flex-direction: column;
                span {
                    font-family: Work Sans;
                    font-size: 0.875rem;
                    line-height: 1.25rem;
                }
            }
        }
    }
}

.integrations {
    margin-bottom: 30px;
    &__content {
        margin-bottom: 80px;
    }
    &__title {
        font-size: 4.5rem;
        line-height: 4.5rem;
        letter-spacing: 0.4px;
    }
    &__text {
        padding: 30px 0 18px;
        font-family: Work Sans;
        font-size: 1.3rem;
        line-height: 1.75rem;
    }
    &__img {
        width: 100%;
    }
}

.blog {
    margin-bottom: 300px;
    &__top {
        margin-bottom: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-weight: bold;
        font-size: 3rem;
        line-height: 3.375rem;
        letter-spacing: 0.4px;
    }
    &__main {
        width: 100%;
        margin: 0;
        border-radius: 8px;
        background-color: #F2DCE4;
        &--left {
            padding: 48px 0 25px 32px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &--article {
            width: 50px;
            background-color: #B73D8B;
            padding: 4px 8px;
            font-family: Work Sans;
            font-size: 0.68rem;
            line-height: 0.68rem;
            color: #F2DCE4;
            border-radius: 4px;
        }
        &--title {
            max-width: 440px;
            font-size: 3rem;
            line-height: 3.5rem;
            letter-spacing: 0.4px;
        }
        &--footer {
            font-family: Work Sans;
            font-size: 0.68rem;
            line-height: 1rem;
            span {
                margin-left: 19px;
                font-size: 0.62rem;
            }
        }
        &--img {
            width: 100%;
        }
    }
}

.btn__blog {
    margin: 0;
}

.small {     
    margin-top: 24px; 
    display: flex;
    justify-content: space-between;
    &__item {
        position: relative;
        width: 32%;
        text-decoration: none;
        color: #013A4C;
        border-radius: 0 0 8px 8px;
        img {
            width: 100%;
        }
        &--dark {
            background-color: #013A4C;
            color: #fff;
            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }        
        &--light {
            background-color: #F2DCE4;
            &:hover {
                color: #013A4C;
                text-decoration: underline;
            }
        }     
        &:hover {
            border-radius: 8px 8px 8px 8px;
            overflow: hidden;
        }   
    }
    &__article {
        width: 50px;
        padding: 4px 0;
        margin: 24px 0 18px 24px;
        text-align: center;
        font-family: Work Sans;
        font-size: 0.68rem;
        line-height: 0.68rem;
        color: #F2DCE4;
        background: #B73D8B;
        border-radius: 2px;
        &--pink {
            background-color: #F2DCE4;
            color:#013A4C;
        }
    }
    &__title {
        padding: 0 24px 110px;
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: 0.4px;
    }
    &__footer {
        position: absolute;
        left: 24px;
        bottom: 25px;
        z-index: 1;
    }
}

.more {
    margin-bottom: 130px;
    &__title {
        margin-bottom: 48px;
        font-weight: bold;
        font-size: 3rem;
        line-height: 3.5rem;
        letter-spacing: 0.4px;
    }
    &__item {
        text-align: center;
        &--title {
            padding: 18px;
            font-family: Work Sans;
            font-size: 1rem;
            line-height: 1.25rem;
            text-align: center;
        }
        &--text {
            max-height: 80px;
            overflow: hidden;
            padding: 0 35px;
            margin-bottom: 20px;
            font-size: 2rem;
            line-height: 2.5rem;
            text-align: center;
            letter-spacing: 0.4px;
        }
        img {
            width: 100%;
        }
    }
}


// ************** FOOTER *****************
//****************************************

.footer {
    &__inner {
        padding: 65px 144px;
        background-color: #013A4C;
        color: #fff;
    }
    &__top {
        margin-bottom: 70px;
        display: flex;
        justify-content: space-between;
    }
    &__address {
        width: 27%;
    }
    &__location {
        margin-top: 67px;
        display: flex;
        flex-direction: column;
        span {
            font-family: Work Sans;
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
    }
    &__links {
        width: 70%;
        display: flex;
        justify-content: space-between;    
        &--item {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    margin-bottom: 13px;
                    .white--color {
                        color: #fff;
                    }
                }
                a {
                    text-decoration: none;
                    font-family: Work Sans;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.25rem;
                    color: #99B0B7;

                    &:hover {
                        text-decoration: underline;
                    }
                }
                .white {
                    color: #fff;
                }
            }
        }
        &--header {
            margin-bottom: 13px;
            font-family: Work Sans;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.25rem;
        }    
    }
    &__middle {        
        padding: 50px 0 80px;
        border-top: 1px solid #346170;
        border-bottom: 1px solid #346170;
        display: flex;
        align-items: flex-end;
        &--left {
            max-width: 370px;
            margin-right: 50px;
        }
        &--title {
            margin-bottom: 11px;
            font-size: 1.5rem;
            line-height: 2rem;
            letter-spacing: 0.4px;
        }
        &--text {
            font-family: Work Sans;
            font-size: 0.875rem;
            line-height: 1.25rem;
        }
    }
    &__bottom {
        margin-top: 12px;
        display: flex;
        align-items: flex-end;
        gap: 32px;
        &--link {
            text-decoration: none;
            font-family: Work Sans;
            font-size: 0.8rem;
            line-height: 1.12rem;
            color: #99B0B7;
            &:hover {
                color: #99B0B7;
                text-decoration: underline;
            }
        }
    }
}




// ***********************************************
// ******************* MEDIA *********************
// ***********************************************

@media (max-width: 1399px) {
    .intro__container {
        display: flex;
        align-items: center;
    }
    .intro__inner {
        margin-top: 0;
    }
    .intro__content {
        padding-left: 80px;
    }
    .companies__container {
        padding-left: 80px;
        padding-right: 80px;
    }
    .signatures__block--img {
        align-self: center;
    }
    .signatures__title{
        width: 100%;
    }
    .collaborate__content--inner {
        padding-left: 48px;
        padding-right: 144px;
    }
    .video__container {
        height: 750px;
    }
    .platform__container {
        padding-bottom: 280px;
    }
    .demo__container {
        padding: 180px 0 200px 80px;
    }
    .white__container {
        padding-left: 80px;
        padding-right: 80px;
    }
    .socials__block {
        margin-bottom: 100px;
    }
    .socials__item {
        padding: 30px;
    }
    .small__title {
        padding-bottom: 90px;
    }
    .blog {
        margin-bottom: 150px;
    }
    .more {
        margin-bottom: 0;
    }
    .footer__inner {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (max-width: 1199px) {
    .header__container {
        padding-left: 28px;
    }
    .btn__language {
        margin-left: 0;
    }
    .header__nav ul li:first-child,
    .header__nav ul li:nth-child(2) {
        margin-right: 10px;
    }
    .header__nav ul li {
        margin-right: 10px;
    }
    .header__buttons {
        width: 270px;
    }
    .companies__logotype {
        width: 20%;
        padding: 0 20px;
    }
    .signatures__block {
        margin-bottom: 80px;
    }
    .signatures__title {
        font-size: 2.5rem;
    }
    .signatures__text {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .collaborate__btn {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .collaborate__content--inner {
        padding: 40px;
        max-width: 100%;
    }
    .collaborate__img {
        bottom: -100px;
    }
    .video__container {
        height: 600px;
    }
    .platform__title {
        padding: 60px 150px;
        font-size: 3.5rem;
        line-height: 4.5rem;
        max-width: 100%;
    }
    .platform__container {
        padding-bottom: 180px;
    }
    .platform__item {
        padding-left: 50%;
        padding-right: 80px;
        padding-bottom: 80px;
        img {
            width: 70px;
        }
        &--left {
            padding-left: 80px;
            padding-right: 50%;
        }
    }
    .demo__title {
        font-size: 3.5rem;
        line-height: 4rem;
    }
    .demo__text {
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    .white__container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .socials__block {
        margin-bottom: 80px;
    }
    .socials__item {
        padding: 20px;
        &--author {
            bottom: 30px;
        }
    }
    .integrations {
        margin-bottom: 80px;
    }
    .integrations__title {
        font-size: 4rem;
        line-height: 4rem;
    }
    .integrations__content {
        margin: 0;
    }
    .blog {
        margin-bottom: 100px;
    }
    .blog__top {
        margin-bottom: 40px;
    }
    .blog__main--title {
        font-size: 2.5rem;
        line-height: 3rem;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .blog__main--img {
        width: 115%;
    }
    .small__title {
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 60px;
    }
    .more__title {
        margin-bottom: 40px;
    }
    .more__item--text {
        font-size: 1.7rem;
        line-height: 2rem;
        max-height: 66px;
    }
    .footer__inner {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .footer__top {
        margin-bottom: 40px;
    }
    .footer__middle {
        padding-top: 40px;
        padding-bottom: 60px;
    }
}

@media (max-width: 991px) {
    .navigation {
        display: none;
    }
    .menu__btn {
        display: block;
    }
    .header__nav ul {
        justify-content: center;
    }
    .intro__content {
        padding-left: 40px;
    }
    .companies__container {
        padding: 40px;
    }
    .collaborate__content--inner {
        padding: 30px;
    }
    .collaborate__title {
        line-height: 3.5rem;
    }
    .collaborate__text {
        margin-bottom: 40px;
    }
    .video__container {
        height: 500px;
    }
    .platform__container {
        padding-bottom: 40px;
    }
    .platform__title {
        padding: 40px;
    }
    .platform__item {
        padding-right: 40px;
        &--left {
            padding-right: 50%;
            padding-left: 40px;
        }
    }
    .item__title {
        margin-bottom: 20px;
    }
    .demo__container {
        padding: 80px 40px;
    }
    .white__container {
        padding: 40px;
    }
    .socials__title {
        font-size: 2.5rem;
        line-height: 2.75rem;
        text-align: center;
    }
    .socials__block {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;
    }    
    .socials__item {
        width: 70%;
        margin-bottom: 15px;
        min-height: 300px;
    }
    .integrations {
        margin-bottom: 40px;
    }
    .integrations__title {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
    .blog {
        margin-bottom: 60px;
    }
    .blog__title {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
    .blog__main {
        position: relative;
        &--left {
            z-index: 5;
        }
        &--img {
            width: 400px;
            position: absolute;
            right: 0;
            top: 50%;
            z-index: 0;
            transform: translateY(-50%);
        }
    }
    .small {
        flex-wrap: wrap;
        justify-content: center;
        &__item {
            width: 60%;
            margin-bottom: 20px;
        }
    }
    .more__title {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
    .footer__inner {
        padding: 20px 40px;
    }
    .footer__top {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }    
    .footer__address {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }
    .footer__location {
        margin-top: 30px;
    }
    .footer__links {
        width: 100%;
    }
    .footer__middle {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .footer__bottom {
        gap: 20px;
    }
}

@media (max-width: 767px) {
    .intro__content {
        margin-bottom: 100px;
    }
    .intro__header {
        font-size: 4rem;
        line-height: 4rem;
    }
    .intro__text {
        padding-right: 0;
    }
    .btn__avg {
        font-size: 0.9rem;
        line-height: 1rem;
        padding: 8px 10px;
    }
    .companies__container {
        padding: 20px;
    }
    .companies__logotype {
        width: 19%;
        padding: 0 5px;
    }
    .signatures__block {
        button {
            display: block;
            margin: 0 auto;
        }
    }
    .signatures__block--img {
        margin-top: 60px;
    }
    .signatures__title {
        text-align: center;
    }
    .signatures__text {
        width: 100%;
    }
    .collaborate__btn {
        padding-top: 10px;
        padding-bottom: 10px;
        img {
            width: 18px;
        }
        &--text {
            font-size: 0.9rem;
        }
    }
    .collaborate__title {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
    .collaborate__text {
        margin-bottom: 30px;
    }
    .collaborate__img {
        width: 60%;
        bottom: -50px;
    }
    .video__container {
        height: 400px;
    }
    .platform__container {
        padding-bottom: 1px;
    }
    .platform__title {
        padding: 20px;
        font-size: 3rem;
        line-height: 3.25rem;
    }    
    .platform__item {
        padding: 20px ;
        margin-bottom: 20px;
        text-align: center;
        border: 1px solid #013A4C;
        border-radius: 5px;
    }
    .item__text {
        text-shadow: 2px 2px 2px #E5E5E5;
    }
    .demo__container {
        padding: 40px 20px;
    }
    .demo__title {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
    .demo__text {
        width: 300px;
    }
    .white__container {
        padding: 20px;
    }
    .socials__title {
        font-size: 2.2rem;
        line-height: 2.5rem;
        margin-bottom: 30px;
    }
    .socials__item {
        width: 80%;
    }
    .integrations__content {
        text-align: center;
    }
    .integrations__img {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .blog {
        margin-bottom: 20px;
    }
    .blog__title {
        font-size: 2.2rem;
        line-height: 2.5rem;
    }
    .blog__main--left {
        padding: 40px;
    }
    .blog__main--title {
        max-width: 100%;
    }
    .blog__main--img {
        width: 380px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.2;
    }
    .small__item {
        width: 100%;
    }
    .small__article {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .small__title {
        margin-left: 10px;
    }
    .more__title {
        font-size: 2.2rem;
        line-height: 2.5rem;
        margin-bottom: 20px;
    }
    .more__item {
        margin-bottom: 30px;
    }    
    .more__item--text {
        max-height: 100%;
    }
    .footer__inner {
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer__middle--left {
        max-width: 300px;
    }
    .footer__links ul li {
        margin-bottom: 8px;
    }
}

@media (max-width: 575px) {
    html {
        font-size: 13px;
    }
    .navigation.burger__show {
        padding-left: 0;
        padding-right: 0;
    }
    .header__nav ul li {
        margin-left: 5px;
        margin-right: 5px;
    }
    .header__buttons{
        width: 180px;
        padding-left: 0;
    }

    .header__container {
        padding: 10px 15px;
    }
    .btn__header {
        padding: 5px 6px;
    }    
    .logo__img {
        width: 100px;
    }
    .intro__container {
        height: 500px;
    }
    .intro__content {
        padding-left: 20px;
    }
    .intro__header {
        max-width: 220px;
    }
    .intro__text {
        max-width: 180px;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .signatures__block {
        margin-bottom: 40px;
    }
    .collaborate__btn--text {
        font-size: 0.7rem;
        line-height: 1rem;
    }
    .video__container {
        height: 250px;
    }
    .video__button {
        width: 50px;
        height: 50px;
    }
    .platform__title {
        padding: 20px 10px;
        font-size: 2.2rem;
        line-height: 2.5rem;
    }
    .socials__title {
        margin-bottom: 20px;
        font-size: 1.7rem;
        line-height: 2rem;        
    }
    .socials__item {
        width: 100%;
    }
    .integrations__title {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .blog__top {
        margin-bottom: 20px;
    }
    .blog__title {
        font-size: 1.7rem;
        line-height: 2rem;
    }
    .btn__blog {
        font-size: 0.7rem;
    }
    .blog__main--left {
        padding: 20px;
    }
    .blog__main--img {
        width: 300px;
    }
    .more__title {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .white__container {
        padding-bottom: 0;
    }
    .footer__links {
        flex-wrap: wrap;
        &--item {
            width: 40%;
            margin-bottom: 20px;
        }
        &--header {
            margin-bottom: 8px;
        }
    }
    .footer__top {
        margin-bottom: 0;
    }
    .footer__middle {
        padding-top: 15px;
        padding-bottom: 20px;
        &--left {
            max-width: 150px;
        }
        &--title {
            margin-bottom: 5px;
        }        
    }
}

@media (max-width: 385px) {
    .menu__btn {
        margin-right: 10px;
    }
}